body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
}
.jumbotron {
    text-align: center;
    background: none;
    
}
.event-pic-1 {
    width: 100%;
    height: auto;
    border: 2px solid white;
    margin: 5px;
    display: block;
    padding: 2px;
    border-radius: 50%;
    
}
div.lightMode {
    background-color: #eceeef;
}

div.darkMode {
    background-color: #cccccc;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
div.btnWrapper {
    margin-top: 15px;
}
button.s2btn {
    display: block;
    margin: auto;
}
.Sec3img1 {
    width: 200px;
    height: 200px;
}
