body {
    font-family: 'Dancing Script', cursive;
    margin: 0;
}
.jumbotron {
    text-align: center;
    background: none;
    
}
.event-pic-1 {
    opacity: 0.5;
    height: 270px;
    border: 2px solid white;
    margin: 5px;
    display: block;
    padding: 2px;
    border-radius: 50%;
    overflow: hidden;
    
}
div.lightMode {
    background-color: #eceeef;
}

.carousel-inner {
    width: 50%;
    height: auto;
    margin: auto;
    border-radius: 7px;
}

div.darkMode {
    background-color: #cccccc;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
div.btnWrapper {
    margin-top: 15px;
}
button.s2btn {
    display: block;
    margin: auto;
}
catering-img1 {
    width: 500px;
    height: 300px;
    margin: auto;
    padding: 2rem;
}

/*Media Query*/
@media only screen and (max-width: 500px)
{
    .carousel-inner {
        width: 100%;
        height: auto;
    } 
}
